
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <link rel="stylesheet" href="/css/main.css">
    <meta charset="UTF-8">
    <title>Star Ships</title>
  </head>
  <body>
  <h1 th:class="blue-header">Our Star Ships</h1>
    <div th:each="starship : ${starships}" th:object="${starship}">
      <a th:href="|/starships/*{id}|" th:text="*{name} + ' Fuel Capacity' + *{fuelCapacity}"></a>
    </div>
  </body>
</html>

<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Starships</title>-->
<!--  <link rel="stylesheet" href="/css/main.css">-->
<!--</head>-->
<!--<body>-->
<!--<h1 th:class="blue-header">All Starships</h1>-->
<!--<ul>-->
<!--  <li th:each="ship:${starships}">-->
<!--    <a th:href="'/starships/' + ${ship.id}" th:text="${ship.name}">ShipName</a>-->
<!--  </li>-->
<!--</ul>-->
<!--</body>-->
<!--</html>-->