<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <link rel="stylesheet" href="/css/main.css">
  <meta charset="UTF-8">
  <title>$Title$</title>
</head>
<body>
<div th:object="${starship}">
  <h2 th:class="blue-header" th:text="*{name}"></h2>
  <p th:class="description" th:text="'Description: ' + *{description}"></p>
  <!--        <p th:text="*{fuelCapacity gt 700}? 'HIGH': (*{fuelCapacity lt 300}? 'LOW':'AVERAGE')" ></p>-->
  <p th:text="${starship.fuelIndicator()}"></p>
  <a th:href="@{'/starships'}">List of Starships</a>
</div>
</body>
</html>


<!--<!doctype html>-->
<!--<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">-->
<!--  <head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Starships</title>-->
<!--    <link rel="stylesheet" href="/css/main.css">-->
<!--  </head>-->
<!--  <body>-->
<!--  <h1 th:class="blue-header" th:text="showPage">Show Page</h1>-->
<!--    <div th:object="${starship}" >-->
<!--      <p th:text="*{name}" />-->
<!--      &lt;!&ndash;    <p th:text="*{getFuelStatement()}" />&ndash;&gt;-->
<!--      <h2>Fuel Capacity:</h2>-->
<!--      <p th:text="*{fuelCapacity lt 300 ? 'LOW' : fuelCapacity le 700 ? 'AVERAGE' : 'HIGH'}" />-->
<!--      <p th:text="|(*{fuelCapacity} Teraliters)|" />-->
<!--      <p th:text="*{description}" />-->
<!--    </div>-->
<!--  </body>-->
<!--</html>-->